.cpf-navbar-brand {
  max-height: 120%;
}

body, .headerless-main {
  padding-top: 50px;
}
.content-block {
  padding: 0px 15px 15px 15px;
  text-align: left;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

h3 {
    margin-top: 10px;
}

.container .text-muted {
    margin: 20px 0;
}

.text-muted {
    color: #777;
}

.no-spill {
    overflow: hidden;
}

.headline-image {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 300px;
}

.music-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-width: 100%;
}

.software-menu-item {
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.icon-external-link:after {
    content: '';
    display: inline-block;
    background: url("../images/external-link.svg");
    -webkit-background-size: 1em 1em;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
    background-position: left bottom;
    background-repeat: no-repeat;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Metronome page styles
-------------------------------------------------- */
.metronome {
  background-color: #d8d8da;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.metronome-button {
  width: 40px;
  height: 40px;
  margin: 20px 10px;
  background-color: #c7ccce;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  border: 2px solid grey;
  transition: all 0.05s;
}
.metronome-button:hover {
  border: 2px solid rgba(100, 100, 100, 0.3);
}
.metronome-button.active {
  opacity: 0.5;
  box-shadow: inset 0px 0px 30px red;
  border: 2px solid rgba(100, 100, 100, 0.3);
}
label[for=bpm-control], label[for=accent-control] {
  margin: 20px 0px 0px 0px;
}

label[for=metronome-on-off] {
    position: absolute;
    margin-top: 30px;
}
#bpm-control, #accent-control {
  margin: 0px 0px 10px 0px;
}

/* Push wrapper page styles
-------------------------------------------------- */
#no-midi-warning {
    background-color: #b33a3a;
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 10px;
    text-align: center;
}

.push-wrapper-buttons {
    margin: 10px 0;
    padding: 10px 0;
    max-width: 800px;
    height: 25%;
    min-height: 101px;
    max-height: 160px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #d8d8da;
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 10px;
}

.push-wrapper-button {
    display: inline-block;
    width: 9%;
    padding: 3% 0 2% 0;
    margin: 0px 1%;
    background-color: #c7ccce;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    border: 2px solid grey;
    transition: all 0.2s;
}
.push-wrapper-button.active {
    opacity: 0.25;
    box-shadow: inset 0px 0px 30px blue;
    border: 2px solid white;
    animation: shake .1s ease-in-out;
}
@keyframes shake {
    0% {
        transform: translateX(0);
        transform: translateY(0);
        transform: scale(1, 1);
    }
    40% {
        transform: translateX(10px);
        transform: translateY(0px);
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}