# HTTP -> HTTPS
<IfModule mod_rewrite.c>
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# music 301s
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^soccochico/?$ http://chippanfire.com/music.html  [R=301,L]
</IfModule>

# software 301s
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^software/([-a-z\d]+)/$ http://chippanfire.com/software-$1.html  [R=301,L]
</IfModule>

# correct if missing .html or ends with trailing /
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^([^/.]+)/?$ http://chippanfire.com/$1.html  [R=301,L]
</IfModule>

ErrorDocument 404 http://chippanfire.com/error.html