/* Metronome page styles
-------------------------------------------------- */
.metronome {
  background-color: #d8d8da;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.metronome-button {
  width: 40px;
  height: 40px;
  margin: 20px 10px;
  background-color: #c7ccce;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  border: 2px solid grey;
  transition: all 0.05s;
}
.metronome-button:hover {
  border: 2px solid rgba(100, 100, 100, 0.3);
}
.metronome-button.active {
  opacity: 0.5;
  box-shadow: inset 0px 0px 30px red;
  border: 2px solid rgba(100, 100, 100, 0.3);
}
label[for=bpm-control], label[for=accent-control] {
  margin: 20px 0px 0px 0px;
}

label[for=metronome-on-off] {
    position: absolute;
    margin-top: 30px;
}
#bpm-control, #accent-control {
  margin: 0px 0px 10px 0px;
}
