<div class="content-block">
  <div class="col-md-12">
    <h1><%= title %></h1>
    <p class="lead">
      MaxMSP tool for transmitting MIDI from one computer (Win/OS X) to another via a network (sans hardware MIDI interfaces)
      <br>
      <br>
      <img src="<%- image('wac-network-midi.png') %>" alt="wac network midi screenshot" class="headline-image">
    </p>
  </div>
  <div class="row content-block ">
      <div class="col-md-12">
          <h3><a href="<%= github %>" target="_blank">Download from Github<i class="icon-external-link"></i></a></h3>
          <p>Wac Network MIDI is a <%- include('external-link', {url: 'http://www.cycling74.com/', text: 'MaxMSP'}) %> patch that can be downloaded and used <strong>for free!</strong></p>
          <p>The download includes:</p>
          <ul>
              <li>The Wac Network MIDI MaxMSP patch</li>
              <li>Documentation for setup and use</li>
          </ul>
      </div>
  </div>
  <hr>
  <div class="col-md-12 alert alert-info">
    <p>
      <em>
        This software used to be a paid download - I no longer maintain those versions of the app (I couldn't keep up with Windows/OS X changes). To those who paid for tha app in tha past, thanks for your support!
      </em>
    </p>
  </div>
</div>
