<div class="content-block">
  <h1><%= title %></h1>
  <p class="lead">
    I'm only paravirtual - you can find me in these places:
    <ul>
        <li><%- include('external-link', {url: 'https://github.com/crosslandwa', text: 'Github'}) %></li>
        <li><a class="" href="mailto:willycwillydo@gmail.com">Send Mail</a></li>
    </ul>
  </p>
</div>
