<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.chippanfire.com/assets/favicon.ico">

    <title>chippanfire.com</title>
    <script>
      window.location.replace('http://localhost:8000/nice-error.html?search=' + encodeURIComponent(window.location.pathname));
    </script>
  </head>

  <body>
    <h1>This is the one thing we didn't want to happen</h1>
    <h2>Let's <a href="https://www.chippanfire.com">go home</a></h1>
  </body>
</html>
