<div class="content-block">
    <h1><%= title %></h1>
    <p class="lead">
        Oh no! What you're looking for is not here. Maybe you followed an old link or typed in a bad address
    </p>
    <p class="lead">Try using the navigation above to find what you were after...</p>
    <p id="redirect-suggestion" class="lead"></p>
</div>
