<a class="btn btn-default" href="http://www.oronjo.com/live/next/?fi=<%= id %>" target="_blank">
  <img src="https://www.oronjo.com/live/images/image.php?id=<%= id %>" border="0" alt="">
  <br>
  <%= text %>
</a>
