body {
  font-family: sans-serif;
  margin: 0 0 8em 0;
  padding-top: 4em;
  font-weight: 300;
}

.cpf-header-nav {
  width: 100%;
  background: #f8f8f8;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #e7e7e7;
  position: fixed;
  top: 0;
}

.cpf-header-nav__item {
  display: inline-block;
  padding: 1em;
}

.cpf-header-nav__item--lead {
  padding-left: 0;
}

.cpf-container {
  margin: auto;
  padding: 0 1em;
  max-width: 980px;
}

.cpf-footer {
  position: fixed;
  color: #777;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.cpf-section-header {
  padding-top: 1.75em;
  margin-bottom: 0;
}

.cpf-grid__row:after {
    content: "";
    display: block;
    clear: both;
}

.cpf-grid__column-one-third {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 50em) {
  .cpf-grid__column-one-third {
    width: 33.3333%;
    float: left;
  }
  .cpf-grid__column-one-third:first-child {
    padding: 0 1em 0 0;
  }
  .cpf-grid__column-one-third:last-child {
    padding: 0 0 0 1em;
  }
  .cpf-grid__column-one-third:not(:first-child):not(:last-child) {
    padding: 0 1em;
  }
}
